.additionally {
  @include ul-reset();
  margin-bottom: 40px;

  @media (min-width: $screen-md) {
    margin-bottom: 70px;
  }
}

.additionally__item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $gray-lighter;

  &:first-child {
    border-top: 1px solid $gray-lighter;
  }

  @media (min-width: $screen-md) {
    padding: 26.5px 35px;
    border: 1px solid $gray-lighter;
    border-bottom: 0;
    margin-bottom: 0;

    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }

  @media (min-width: $screen-xl) {
    padding: 15.5px 0;
    border-left: none;
    border-right: none;
  }
}

.additionally__row {
  @include row();

  @media (min-width: $screen-xl) {
    align-items: center;
  }
}

.additionally__column {
  @include grid-width();

  &--md-6 {
    @media (min-width: $screen-md) {
      flex: 0 0 50%;
      max-width: 0 0 50%;
    }
  }

  @media (min-width: $screen-md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $screen-xl) {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.additionally__title {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 0;
  color: $black-ligten;

  @media (min-width: $screen-xl) {
    margin-bottom: 0;
  }
}

.additionally__info {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  font-family: $family-arial;

  @media (min-width: $screen-md) {
    margin-bottom: 19px;
  }

  @media (min-width: $screen-xl) {
    width: 118%;
    margin-bottom: 0;
    margin-top: 5px;
  }
}

.additionally__info td {
  &:last-child {
    text-align: right;

    @media (min-width: $screen-md) {
      width: 33%;
    }

    @media (min-width: $screen-xl) {
      width: 17%;
      text-align: left;
    }
  }

  &:first-child {
    @media (min-width: $screen-md) {
      text-align: right;
    }

    @media (min-width: $screen-xl) {
      text-align: left;
    }
  }
}
