.add-products {
  margin-bottom: 30px;

  @media (min-width: $screen-md) {
    margin-bottom: 75px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 15px;
  }
}

.add-products__row {
  @include row();
}

.add-products__column {
  @include grid-width();

  @media (min-width: $screen-md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--xl-3 {
    @media (min-width: $screen-xl) {
      flex: 0 0 25%;
      max-width: 25%;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &--xl-9 {
    @media (min-width: $screen-xl) {
      flex: 0 0 75%;
      max-width: 75%;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.add-products__action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 290px;
  width: 100%;
  padding: 50px 10px;
  text-align: center;
  color: $white;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-success;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $screen-md) {
    flex-direction: row;
    align-items: center;
    padding: 50px 90px;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $screen-xl) {
    flex-direction: column;
    min-height: 290px;
    padding: 45px 10px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.add-products__action svg {
  fill: $white;
  display: block;
  margin-top: 13px;

  @media (min-width: $screen-md) {
    margin-top: 0;
  }

  @media (min-width: $screen-xl) {
    margin-top: 20px;
  }
}

.add-products__proviso {
  max-width: 150px;
  margin-bottom: 0;
  line-height: 20px;

  @media (min-width: $screen-md) and (max-width: 1299px) {
    text-align: left;
    margin-right: 45px;
  }
}
