.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  background: $color-success;
  color: $white;
  cursor: pointer;
  font-size: 16px;

  &--light {
    background: $gray-lightest;
    color: $black;
  }

  &--small {
    font-size: 14px;
  }
}
