.comparisons {
  margin-top: 25px;
  // margin-top: 0px;

  @media (min-width: screen-md) {
    margin-top: 60px;
  }
}

.comparisons__range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 195px;
  margin: 0 auto;
  padding: 35px 0;

  @media (min-width: $screen-md) {
    max-width: 575px;
    // padding: 25px 0 75px;
    padding: 10px 0 70px;
  }
}

.comparisons__btn {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  transition: $time;

  @media (min-width: $screen-md) {
    font-size: 20px;
    padding: 5px 0px;
    border-bottom: 1px dotted $gray-lighter;

    &:hover {
      border-bottom: 1px solid $gray-lighter;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }
}

.comparisons__progress {
  position: relative;
  max-width: 84px;
  width: 100%;
  height: 14px;
  border: 1px solid $gray-lighter;
  border-radius: 50px;
  background: $white;

  &::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    right: 5px;
    width: 35px;
    height: 6px;
    border-radius: 50px;
    background: $color-success;
    transform: translateY(-50%);
    transition: $time;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  @media (min-width: $screen-md) {
    max-width: inherit;
    height: 6px;
    margin: 0px 25px 0;
    background: $gray-lighter;
  }
}

.comparisons__tog {

  @media (min-width: $screen-md) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    background: $white;
    cursor: pointer;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 3px 1px rgba($black, .15);
    transition: $time;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 8px;
      height: 8px;
      margin: auto;
      border-radius: 50%;
      background-color: $color-success;
    }

    &:hover {
      box-shadow: 0 3px 3px 1px rgba($black, .15);
    }

    &:active {
      border: 2px solid $color-success;
      box-shadow: 0 3px 3px 1px rgba($black, .25);
    }
  }
}

.comparisons__group-pick {

  @media (min-width: $screen-md) {
    position: relative;
    display: flex;
    height: 560px;
  }

  @media (min-width: $screen-xl) {
    height: 500px;
  }
}

.comparisons__img {
  display: block;
  margin: 0 auto;
  // max-width: inherit;

  &--after {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  @media (min-width: $screen-md) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &--after {
      clip: rect(auto, auto, auto, 345px);
    }

    &--before {
      clip: rect(auto, 345px, auto, auto);
    }
  }

  @media (min-width: $screen-xl) {
    &--after {
      clip: rect(auto, auto, auto, 285px);
    }

    &--before {
      clip: rect(auto, 285px, auto, auto);
    }
  }
}
