.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  @media (min-width: $screen-md) {
    justify-content: flex-end;
  }
}

.developer__name {
  font-family: $family-arial;
  color: $black;
}

.developer__icon svg {
  fill: #666;
}
