.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  @media (min-width: $screen-md) {
    justify-content: flex-end;
  }
}

.developer__name {
  display: inline-block;
  font-family: $family-arial;
  color: $black;
  transition: $time;

  @media (min-width: $screen-md) {
    margin-right: 10px;
  }

  &:active {
    opacity: 0.3;
  }
}

.developer__icon {
  margin-right: -5px;
  margin-top: 3px;
}

.developer__icon svg {
  fill: #666;
  transition: $time;

  &:hover {
    fill: $color-success;
  }

  &:active {
    opacity: 0.3;
  }
}
