.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  transition: $time;

  @media (min-width: $screen-md) {
    justify-content: flex-end;
  }

  &:active {
    opacity: 0.3;
  }
}

.developer__name {
  display: inline-block;
  font-family: $family-arial;
  color: $color-body;
  font-size: 16px;

  @media (min-width: $screen-md) {
    margin-right: 10px;
  }
}

.developer__icon {
  margin-right: -5px;
  margin-top: 3px;
  fill: #666666;
  transition: $time;
}

.developer:hover .developer__icon  {
  fill: $color-success;
}
