.example {
  background: $gray-lightest;
}

.example__total {
  font-family: $family-oswald;
  text-align: center;
  text-transform: uppercase;
}

.example__img {
  display: block;
  margin: 0 auto;
}
