.footer-logo {
  display: block;
  max-width: 135px;
  margin: 0 auto;
  padding: 35px 0 30px;
  transition: $time;

  @media (min-width: $screen-md) {
    margin-left: inherit;
    margin-right: auto;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
