.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $screen-md) {
    margin-bottom: 22px;
  }
}

.form-field__control {
  width: 100%;
  border: 1px solid $gray-light;
  padding: 14px 15px;
  transition: $time;

  &--mail {
    padding: 15px 45px 15px 15px;
    background: url("../img/icon-mail.svg") no-repeat 95.5% 50%;
    background-size: 18px;
  }

  &--phone {
    padding: 15px 45px 15px 15px;
    background: url("../img/icon-phone.svg") no-repeat 95% 50%;
    background-size: 20px;
  }

  @media (min-width: $screen-md) {
    padding: 15px;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active,
  &:focus {
    border: 1px solid #444444;
    outline: none;
  }
}

.form-field__text {
  @include font-title-h4();
  flex-shrink: 0;
  margin-right: 15px;
  text-transform: uppercase;
}

.form-field.form-field--ident {
  margin-bottom: 10px;

  @media (min-width: $screen-md) {
    margin-bottom: 20px;
  }
}
