.instruction__list {
  @include ul-reset();
  @include row();
  counter-reset: section;
  margin-bottom: 23px;

  @media (min-width: $screen-md) {
    margin-bottom: 9px;
  }
}

.instruction__item {
  @include grid-width();
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: $color-success;
    background-size: 50px;

    @media (min-width: $screen-md) {
      width: 80px;
      height: 80px;
      margin-bottom: 35px;
    }
  }

  @media (min-width: $screen-md) {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    min-height: 230px;
    margin-bottom: 87px;

    &::after {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      left: 140px;
      top: -38px;
      font-size: 280px;
      line-height: 1;
      font-family: $family-oswald;
      color: $gray-lightest;
      z-index: -1;

      @media (min-width: $screen-xl) {
        left: 155px;
      }
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 55px;

      @media (min-width: $screen-xl) {
        margin-bottom: inherit;
      }
    }
  }

  @media (min-width: $screen-xl) {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.instruction__text {
  margin: 0;
  font-family: $family-arial;

  @media (min-width: $screen-md) {
    max-width: 250px;
  }
}
