.invitation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0 25px;

  @media (min-width: $screen-md) {
    // padding: 65px 0;
    padding: 60px 0;
    align-items: flex-start;
  }

  @media (min-width: $screen-xl) {
    position: absolute;
    left: 40px;
    top: 0%;
    max-width: 570px;
    width: 100%;
    background: $white;
    padding: 32px 35px;
    transform: translateY(48%);
  }
}

.invitation__title {
  @include font-title-h4();
  line-height: 20px;
  flex: 0 0 50%;
  // max-width: 50%;
  margin: 0;
  text-transform: uppercase;
  max-width: 160px;

  @media (min-width: $screen-md) {
    line-height: 25px;
  }

  @media (min-width: $screen-xl) {
    padding: 30px 40px;
    max-width: 50%;
  }
}

.invitation__text {
  flex: 0 0 50%;
  // max-width: 50%;
  margin: 0;
  line-height: 21px;
  max-width: 160px;
  width: 100%;

  @media (min-width: $screen-md) and (max-width: 1299px) {
    text-align: right;
  }

  @media (min-width: $screen-xl) {
    padding: 30px 40px;
    max-width: 50%;
  }
}

.invitation__text span {
  @media (min-width: $screen-md) {
    display: block;
    margin-top: 15px;
  }
}
