.invitation {
  padding: 30px 0;

  &--color {
    background: $gray-lightest;
  }
}

.invitation__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invitation__title {
  flex: 0 0 50%;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

.invitation__text {
  flex: 0 0 50%;
  margin: 0;
  line-height: 21px;
}
