.logo {
  display: block;
  width: 100%;
  max-width: 190px;

  @media (min-width: $screen-md) {
    max-width: 174px;
  }

  @media (min-width: $screen-xl) {
    max-width: 202px;
  }
}

.logo__img {
  transition: $time;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
