.main-block {
  position: relative;
  text-align: center;
  padding-top: 30px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    min-height: 305px;
    width: 100%;
    background: #63a73a url("../img/index-background-mobile@1x.jpg") no-repeat top;
    z-index: -1;
  }

  @media (min-width: $screen-md) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $screen-md) {
    &::after {
      display: block;
      width: 50%;
      height: 100%;
      min-height: auto;
      right: 0;
      left: inherit;
      background-position: center;
      background-size: contain;
    }
  }
}

.main-block__title {
  @include font-title();
  margin-bottom: 25px;
  margin-top: 0;
  color: $white;

  @media (min-width: $screen-md) {
    text-align: left;
    color: $black;
  }
}

.main-block__product {
  display: block;
  margin: 0 auto;
}

.main-block__tagline {
  @include font-title-h4();
  color: $white;
  text-transform: uppercase;

  @media (min-width: $screen-md) {
    text-align: left;
    color: $black;
  }
}
