.main-block {
  position: relative;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 20px;

  @media (min-width: $screen-md) {
    padding-left: 90px;
    padding-top: 50px;
    margin-bottom: 0;
    min-height: 860px;
    text-align: left;
  }

  @media (min-width: $screen-xl) {
    min-height: 530px;
    height: calc(100vh - 167px);
    padding-top: 55px;
    margin-bottom: 60px;
  }
}

.main-block__title {
  @include font-title();
  margin-bottom: 23px;
  margin-top: 0;
  color: $white;

  @media (min-width: $screen-md) {
    max-width: 520px;
    margin-bottom: 45px;
    text-align: left;
    color: $black;
  }
}

.main-block__product {
  display: block;
  margin: 0 auto 5px;

  @media (min-width: $screen-md) {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
  }

  @media (min-width: $screen-xl) {
    position: absolute;
    top: 0;
    left: 50%;
    bottom: inherit;
    margin: auto;
    transform: translateX(-34%);
  }
}

.main-block__tagline {
  font-size: 14px;
  font-weight: 400;
  font-family: $family-oswald;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 25px;

  @media (min-width: $screen-md) {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 45px;
    color: $black;
  }
}
