.map {
  position: relative;
  background: $white;

  &--color {
    background: $gray-lightest;
  }
}

.map__iframe {
  height: 365px;
  border: 0;

  @media (min-width: $screen-md) {
    height: 395px;
  }

  @media (min-width: $screen-xl) {
    height: 400px;
  }
}
