.program {
  background: $gray-lightest;
  padding: 40px 20px 20px;

  @media (min-width: $screen-md) {
    padding: 50px 60px;
  }
}

.program__title {
  @include font-title-line();
  position: relative;
  margin-top: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  padding-left: 70px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 50px;
    height: 50px;
    background: $color-success;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.program__link {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding-right: 10px;
  color: $black;
  letter-spacing: 1px;
}

// .program__icon {
//   width: 50px;
//   height: 50px;
//   background: $color-success;
//   border-radius: 50%;
// }

.program__text {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-lighter;
}

.program__text p {
  margin-bottom: 0;
}
