.product-more {
  margin-top: 77px;
  text-align: center;
}

.product-more__title {
  @include font-title-h4();
  text-transform: uppercase;
  margin-bottom: 7px;
}

.product-more__text {
  font-size: 12px;
  margin-bottom: 23px;
}
