.product-more {
  position: relative;
  margin-top: 77px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    background: $white url("../img/icon-plus.svg") no-repeat center;

    @media (min-width: $screen-md) {
      top: 52px;
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: $screen-md) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0;
    padding: 40px 35px 40px;
    border: 1px solid $gray-lightest;
    height: 100%;
  }
}

.product-more__title {
  @include font-title-h4();
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 7px;

  @media (min-width: $screen-md) {
    margin: 0 auto 25px;
    max-width: 140px;
    width: 100%;
  }
}

.product-more__text {
  font-size: 12px;
  margin-bottom: 23px;

  @media (min-width: $screen-md) {
    font-size: 16px;
    max-width: 180px;
    width: 100%;
    margin: 0 auto 85px;
    line-height: 20px;
  }
}
