.product {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: 0;
    bottom: 0;
    height: 1px;
    background: $gray-lighter;
    width: calc(100% + 40px);
  }

  @media (min-width: $screen-md) {
    width: 50%;
    margin-bottom: 30px;


    &::after {
      display: none;
    }
  }

  @media (min-width: $screen-xl) {
    width: 25%;
    margin-bottom: 40px;
  }
}

.product__info {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $screen-md) {
    flex-direction: column;
    padding: 40px;
    background: $gray-lightest;
  }
}

.product__title {
  max-width: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product__options {
  width: 100%;
  font-size: 12px;
}

.product__options td:last-child {
  text-align: right;
}

.product__img {
  flex: 0 1 50%;
}

.product__description {
  flex: 0 1 50%;
}
