.question__field {
  position: relative;
  border: none;
  padding: 0;
  margin-bottom: 30px;

  &--line {
    padding: 30px 20px;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid $gray-lightest;
    border-bottom: 1px solid $gray-lightest;

    @media (min-width: $screen-md) {
      margin-left: 0;
      margin-right: 0;
      padding: 25px;
      border: 1px solid $gray-lightest;
    }
  }
}

.question__row {
  @include row();
}

.question__column {
  @include grid-width();

  @media (min-width: $screen-md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $screen-xl) {
    flex: 0 0 50%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.question__column--xl-4 {
  @media (min-width: $screen-md) {
    flex: 0 0 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $screen-xl) {
    flex: 0 0 25%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.question__column--xl-2 {
  @media (min-width: $screen-md) {
    flex: 0 0 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.question__field input[type="checkbox"],
.question__field input[type="radio"] {
  display: none;
}

.question__field input[type="checkbox"]:checked + label::before,
.question__field input[type="radio"]:checked + label::before {
  display: block;
}

.question__text {
  text-align: center;
  margin: 20px 0;
}
