.question {
  // margin-bottom: 31px;
  margin-bottom: 10px;

  @media (min-width: $screen-md) {
    margin-bottom: 72px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 80px;
  }
}

.question__field {
  position: relative;
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 24px;

  @media (min-width: $screen-md) {
    margin-bottom: 75px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 62px;
  }

  &--ident-small {
    @media (min-width: $screen-md) {
      margin-bottom: 20px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 30px;
    }
  }

  &--line {
    padding: 15px 20px;
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;

    @media (min-width: $screen-md) {
      margin-left: 0;
      margin-right: 0;
      padding: 25px;
      border: 1px solid $gray-light;
    }
  }

  &--ident {
    @media (min-width: $screen-md) {
      margin-bottom: 60px;
    }
  }
}

.question__row {
  @include row();
}

.question__column {
  @include grid-width();

  @media (min-width: $screen-md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $screen-xl) {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.question__column--xl-4 {
  @media (min-width: $screen-md) {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $screen-xl) {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.question__column--xl-2 {
  @media (min-width: $screen-md) {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $screen-md) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.question__field input[type="checkbox"],
.question__field input[type="radio"] {
  display: none;
}

.question__field input[type="checkbox"]:checked + label::before,
.question__field input[type="radio"]:checked + label::before {
  display: block;
}

.question__text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: $screen-md) {
    margin: 15px 0;
    text-align: left;
  }
}

.question__textarea {
  width: 100%;
  border: 1px solid $gray-light;
  padding: 14px 15px;
  transition: $time;
  height: 151px;

  @media (min-width: $screen-md) {
    height: 173px;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active,
  &:focus {
    border: 1px solid #444444;
    outline: none;
  }
}

.question__btn {
  @media (min-width: $screen-md) {
    padding: 15px;
    font-size: 20px;
  }
}
