.title-line {
  @include font-title-line();
  position: relative;
  display: inline-block;
  padding-right: 22px;
  padding-left: 40px;
  margin-left: -40px;
  margin-bottom: 35px;
  background: $white;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 3px;
    margin-top: 2px;
    background: $color-success;
    z-index: -1;
  }

  &::after {
    left: 20px;
  }

  &::before {
    right: 0;
  }

  @media (min-width: $screen-md) {
    padding-right: 40px;
    margin-bottom: 75px;
  }

  &--ident {
    @media (min-width: $screen-md) {
      margin-bottom: 50px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 55px;
    }
  }
}
