.title-line {
  @include font-title-line();
  position: relative;
  display: inline-block;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: -40px;
  margin-bottom: 30px;
  background: $white;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    margin-top: -1.5px;
    height: 3px;
    background: $color-success;
    z-index: -1;
  }

  &::after {
    left: 20px;
  }

  &::before {
    right: 0;
  }
}
