.title-text {
  text-transform: uppercase;
  font-family: $family-oswald;
  margin-bottom: 35px;
  max-width: 330px;

  @media (min-width: $screen-md) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 67px;
  }
}
