.title {
  @include font-title();
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 28px;

  @media (min-width: $screen-md) {
    margin-bottom: 55px;
    padding-top: 55px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 20px;
    margin-bottom: 57px;
  }

  &--ident {
    @media (min-width: $screen-md) and (max-width: 1299px) {
      margin-left: -40px;
      margin-right: -40px;
    }
  }

  &--main {
    @media (min-width: $screen-md) {
      padding-top: 43px;
      margin-bottom: 70px;
    }
  }
}
