@mixin container() {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $screen-sm) {
    max-width: $container-sm;
  }

  @media (min-width: $screen-md) {
    max-width: $container-md;
  }

  @media (min-width: $screen-lg) {
    max-width: $container-lg;
  }

  @media (min-width: $screen-xl) {
    max-width: $container-xl;
  }
}

@mixin ul-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
